#pakkumine, #seadme_otsus, #esinduse_ladu, #keskladu, #laovalik, #tellimused{
border: 3px solid #EDC2ED;
padding-left: 10px;
margin: 10px;

}

h3{
margin-top: 0px;
}

h5{
color:red;
}

p {
background-color: #e1e1e1;
border: thin solid grey;
padding: 10px;
}

#salvesta, #katkesta{
float: right;
margin-bottom: 10px;
}

#tellimused{
clear:both;

}


